
.cont-example1{
    height: 300px;
    background: green;
   
    .div1{
        height: 200px;
        margin-left: 50px;
        background: yellow;
    }
    .div2{
        margin-left:300px;
        height: 100%;
        background: black;
    }

}
.exp1{
    height: 30px;
    width: 50px;
    background: blue;

    .div1{
        height: 10px;
        width: 10px;
        background: rgb(82, 231, 23);
    }
}
.exp2{
    position: relative;
    background: black;
    height: 30px;
    width: 100px;
    .div1{
        position: absolute;
        left: 50%; 
        margin-left: -5px;
        height: 10px;
        width: 10px;
        background: white;
    }
}
 .exp3{
     position: relative;
     background: red;
     height: 30px;
     width: 50px;

     .div1{
         position: absolute;
         right: 0px;
         height: 10px;
         width: 10px;
         background: royalblue;
     }
 }
 .exp4{
     position: relative;
     background: rgb(33, 12, 110);
     height: 30px;;
     width: 30px;

     .div1{
         position: absolute;
         bottom: 0px;
         height: 10px;
         width: 10px;
         background: rgb(12, 172, 184);
     }

 }
 .exp5{
     position: relative;
     background: rgb(134, 27, 134);
     height: 30px;
     width: 30px;
     .div1{
         position: absolute;
         background: violet;
         height: 10px;
         width: 10px;
         bottom: 50%;
         right: 50%;
         margin-bottom: -5px;
         margin-right: -5px;
     }
 }
 .cont-exa1{
    height: 80px;
    width: 100px;
    background: rgb(224, 70, 224);

    .div1{
        float: left;
        height: 60px;
        width: 40%;
        background: gray;
    }
    .div2{
        float: left;
        height: 60px;
        width: 40px;
        background: rgb(184, 221, 19);
    }
    .div3{
        background: rgb(90, 19, 221);
    }

}
