/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
//@import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Cantarell');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Cabin');

body{
    margin: 0px;
}
.one-page{
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 500px;
}

.aside{
    position: fixed;
    float: left;
    height: 100%;
    width: 20%;
    & ul{
        height: 100%;
        padding: 0px;
        margin: 0px;
        background: black;
        & li{
            list-style-type: none;
            border-bottom: 1px solid #cabf45;
            & a{
                display: block;
                text-decoration: none;
                font-size: 15pt;
                padding: 20px;
                color:  darken( #fff176, 40% );
                transition: color 1s, background 1s;
                & .f-right{
                    float: right;
                }
                &:hover{
                    color: darken( #fff176, 50% );
                    background: #ffffa8;
                }
            }
        }
    }
}

.cont-web{
    position: relative;
    float: right;
    background-image: url("../image/background-home.png");
    height: 100%;
    width: 80%;
    & .frmhome{
        height: 100%; 
        width: 100%;
        position: absolute;
       & .conten1{
            height: 350px;
            background: #250448;
            background-size: 100% 100%;
            & h1{
                margin: 0px;
                font-family: 'Fredoka One', cursive;
                text-align: center;
                color: white;
                padding: 45px;
                font-size: 50pt;
            }
            & p{  
                margin-top: 15px;
                text-align: center;
                color: white;
                font-size: 17pt;
                width: 400px;
                margin:auto;
                padding: 25px;
                border-radius:25px;
                font-family: 'Cabin', sans-serif;
                font-size: 20pt;
                
            }
        }
        & .conten2{
            position: relative;
            height: 300px;
            background: #250448;
            &  .card1{
                position: absolute;
                height: 230px;
                width: 220px;
                background: #c9047d;
                margin: 30px;
                right: 50%;
                border: 4px dashed white;
                & p{
                    text-align: center;
                    
                    & i{
                        font-size: 40pt;
                    }
                }
                & h2{
                    text-align: center;
                    font-size: 20pt;
                }
            
            }
            .card2{
                 position: absolute;
                 height: 230px;
                 width: 220px;
                 background: #13d3da;
                 margin: 30px;
                 left: 50%;
                 border: 4px dashed white;
                & p{
                    text-align: center;
                }   
                & i{
                    font-size: 40pt;
                    text-align: center;
                }   
                & h2{
                    text-align: center;
                    font-size: 20pt;
                }
              
            }

        }
    }
    .frm1{
        position: absolute;
        float: left;
        background: orange;
        height: 440px;
        width: 500px;
        bottom: 50%;
        right: 50%;
        margin-bottom: -220px;
        margin-right: -250px;
        border-radius:15px;
        font-size: 15pt;
        header{
            border-bottom: solid 1px black ;
            margin-top: 8px;
            text-align: center;
        }
        .cont{
            margin-top: 20px;
            text-align: center;
            input, textarea{
                background: white;
                padding: 5px;
                font-size: 13pt;
                transition: background 1s;
                &.err{
                    background: #fb8679;
                }
                &.efec_console{
                    background: black;
                    color: white;
                }
            }
            .btn{
                background:#04c2c9;
                padding: 8px 25px;
            }
            
        }
    }
}
.b-radio{
    border-radius: 5px;
}

@media screen and (max-width: 1000px){
    .cont-web{
        .frm1{
            width: 360px;
            margin-right: -180px;
        }
    }
    .aside ul li a {
        text-align: center;
        & span{
            display: none;
        }
        & .f-right{
            display: none;
        }
    }
    .aside {
        width: 15%;
    }
    .cont-web{
        width: 85%;
    }
    .cont-web .frmhome {
        & .conten2{
            & .card1, & .card2{
                width:160px;
                margin: 30px 10px;
            }
        }
        & .conten1 p{
            padding: 0px;
            
        }
    }

}

@media  screen and  (max-width:576px) {
    .cont-web .frmhome .conten1{
        height: 340px;
        & h1{
            padding: 30px;
            font-size: 45pt;
        }
        & p{
            padding: 10px;
            font-size: 15pt;
            width: 90%;
        }

    }
    .cont-web .frmhome .conten2{
        height: 300px;
        & .card1, & .card2{
            height: 210px;
        }
    }
}

