/* line 2, ../sass/positon.scss */
.cont-example1 {
  height: 300px;
  background: green;
}
/* line 6, ../sass/positon.scss */
.cont-example1 .div1 {
  height: 200px;
  margin-left: 50px;
  background: yellow;
}
/* line 11, ../sass/positon.scss */
.cont-example1 .div2 {
  margin-left: 300px;
  height: 100%;
  background: black;
}

/* line 18, ../sass/positon.scss */
.exp1 {
  height: 30px;
  width: 50px;
  background: blue;
}
/* line 23, ../sass/positon.scss */
.exp1 .div1 {
  height: 10px;
  width: 10px;
  background: #52e717;
}

/* line 29, ../sass/positon.scss */
.exp2 {
  position: relative;
  background: black;
  height: 30px;
  width: 100px;
}
/* line 34, ../sass/positon.scss */
.exp2 .div1 {
  position: absolute;
  left: 50%;
  margin-left: -5px;
  height: 10px;
  width: 10px;
  background: white;
}

/* line 43, ../sass/positon.scss */
.exp3 {
  position: relative;
  background: red;
  height: 30px;
  width: 50px;
}
/* line 49, ../sass/positon.scss */
.exp3 .div1 {
  position: absolute;
  right: 0px;
  height: 10px;
  width: 10px;
  background: royalblue;
}

/* line 57, ../sass/positon.scss */
.exp4 {
  position: relative;
  background: #210c6e;
  height: 30px;
  width: 30px;
}
/* line 63, ../sass/positon.scss */
.exp4 .div1 {
  position: absolute;
  bottom: 0px;
  height: 10px;
  width: 10px;
  background: #0cacb8;
}

/* line 72, ../sass/positon.scss */
.exp5 {
  position: relative;
  background: #861b86;
  height: 30px;
  width: 30px;
}
/* line 77, ../sass/positon.scss */
.exp5 .div1 {
  position: absolute;
  background: violet;
  height: 10px;
  width: 10px;
  bottom: 50%;
  right: 50%;
  margin-bottom: -5px;
  margin-right: -5px;
}

/* line 88, ../sass/positon.scss */
.cont-exa1 {
  height: 80px;
  width: 100px;
  background: #e046e0;
}
/* line 93, ../sass/positon.scss */
.cont-exa1 .div1 {
  float: left;
  height: 60px;
  width: 40%;
  background: gray;
}
/* line 99, ../sass/positon.scss */
.cont-exa1 .div2 {
  float: left;
  height: 60px;
  width: 40px;
  background: #b8dd13;
}
/* line 105, ../sass/positon.scss */
.cont-exa1 .div3 {
  background: #5a13dd;
}
